body {
  font-family: sans-serif;
  background-color: #fafafa;
}

.searchRow {
	background-color: #DC0A2D;
	color: white;
}

.mainResult {
	background-color: white;
}

.evolutionChain {
	list-style-type: none;
}

.mainBlock {
	border: 1px solid black;
}

/*.pokemonName {
	background-color: #007bff;
	color: white;
}*/

.basicInfo {
	background-color: #007bff;
	color: white;
}

.sugimori {
	height: 100%;
	width: 100%;
}

.flavorText {
	background-color: #E6EEF1;
}

a, a:hover, a:visited {
	text-decoration: none;
}

#appTitle {
	color: white;
}

.card-header, .card-title {
	color: black;
}
