body {
  font-family: sans-serif;
/*  background-color: #fafafa;*/
}

.searchRow {
	background-color: #DC0A2D;
	color: white;
}

.mainResult {
	background-color: white;
}

.evolutionChain {
	list-style-type: none;
}

.mainBlock {
	border: 1px solid black;
}

/*.pokemonName {
	background-color: #007bff;
	color: white;
}*/

.basicInfo {
	background-color: #007bff;
	color: white;
}

.sugimori {
	height: 100%;
	width: 100%;
}

.flavorText {
	background-color: #E6EEF1;
}

a, a:hover, a:visited {
	text-decoration: none;
}

#appTitle {
	color: white;
}

.card-header, .card-title {
	color: black;
}


/* Pokeball Loading Spinner */


@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.rotating {
  -webkit-animation: rotating 3s linear infinite;
  -moz-animation: rotating 3s linear infinite;
  -ms-animation: rotating 3s linear infinite;
  -o-animation: rotating 3s linear infinite;
  animation: rotating 3s linear infinite;
}
